@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao OrganizaMed!</h1>

    <p>Gerencie e organize o cronograma de atividades médicas em sua clínica.</p>

    <h2>
        <a class="btn btn-primary" href="/Atividades/Listar">Gerenciar Atividades</a>

        <a class="btn btn-danger" href="/Medicos/Listar">Gerenciar Medicos</a>

        <a class="btn btn-success" href="/Medicos/TopMedicos">Ranking</a>

    </h2>
</div>