@model DetalhesMedicosViewModel

<div class="row gap-3 my-3 my-xl-5">

    <label class="fs-5"><strong>Id:</strong> [@Model.Id]</label>

    <label class="fs-4"><strong>Nome:</strong> @Model.Nome</label>

    <label class="fs-4"><strong>CRM:</strong> @Model.Crm</label>

</div>