@model InserirMedicosViewModel

@{
    ViewBag.Title = "Adicionar Médico";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Adicionar" method="post" class="mt-4">
    <div class="form-group">

        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control"/>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Crm" class="control-label"></label>
        <input asp-for="Crm" class="form-control"/>
        <span asp-validation-for="Crm" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>

    <a class="btn btn-outline-primary px-5" href="/Medicos/Listar">
        <i class="bi bi-arrow-return-left me-1"></i>
        Voltar
    </a>
</form>