body.dark-mode {
    background-color: #121212;
    color: #e0e0e0; /* Cor da fonte no modo noturno */
}

.navbar.dark-mode {
    background-color: #1f1f1f;
    color: #e0e0e0; /* Cor da fonte no modo noturno */
}

.footer.dark-mode {
    background-color: #1f1f1f;
    color: #e0e0e0; /* Cor da fonte no modo noturno */
}

/* Estilos adicionais para outros elementos */
h1, h2, h3, h4, h5, h6 {
    color: #e0e0e0; /* Cor da fonte no modo noturno */
}

a {
    color: #bb86fc; /* Cor dos links no modo noturno */
}

button {
    background-color: #333;
    color: #e0e0e0; /* Cor da fonte dos botões no modo noturno */
    border-color: #444;
}

.container.dark-mode {
    background-color: #1f1f1f;
    color: #e0e0e0; /* Cor da fonte no modo noturno */
}

/* Estilo para a navbar no modo noturno */
.navbar-dark-mode {
    background-color: #1f1f1f;
    color: #e0e0e0; /* Cor da fonte no modo noturno */
}

.navbar-dark-mode .nav-link {
    color: #e0e0e0;
}

/* Estilo para o header no modo noturno */
.header-dark-mode {
    background-color: #1f1f1f;
    color: #e0e0e0; /* Cor da fonte no modo noturno */
}