@model DetalhesAtividadesViewModel

<div class="row gap-3 my-3 my-xl-5">

    <label class="fs-5"><strong>Id:</strong> [@Model.Id]</label>

    <label class="fs-4">
        <strong>Data de Inicio:</strong> @Model.DataInicio
    </label>

    <label class="fs-5"><strong>Data de Termino:</strong> [@Model.DataFim]</label>

    <label class="fs-5"><strong>Tipo de Atividade:</strong> [@Model.TipoAtividade]</label>

</div>